

.animatedIMG1 {
    animation: animatedIMG1 2s;
}

@keyframes animatedIMG1 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animatedIMG2 {
    animation-name: animatedIMG2;
    animation-duration: 2s;
    /*animation-delay: 0.5s;*/
}

@keyframes animatedIMG2 {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animatedIMG3 {
    animation-name: animatedIMG3;
    animation-duration: 2s;
    /*animation-delay: 1s;*/
}

@keyframes animatedIMG3 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animatedIMG4 {
    animation-name: animatedIMG4;
    animation-duration: 2s;
    /*animation-delay: 1.5s;*/
}

@keyframes animatedIMG4 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animatedIMG5 {
    animation: animatedIMG5 2s;
}

@keyframes animatedIMG5 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animatedIMG6 {
    animation-name: animatedIMG6;
    animation-duration: 2s;
    /*animation-delay: 0.5s;*/
}

@keyframes animatedIMG6 {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animatedIMG7 {
    animation-name: animatedIMG7;
    animation-duration: 2s;
    /*animation-delay: 1s;*/
}

@keyframes animatedIMG7 {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animatedIMG8 {
    animation-name: animatedIMG8;
    animation-duration: 2s;
    /*animation-delay: 1.5s;*/
}

@keyframes animatedIMG8 {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}