* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: verdana;
}

header{
    min-height: 30vh;
    /*background-color: cornflowerblue;*/
    background: rgb(72, 103, 161);
    color: white;
}

main{
    min-height: 80vh;
}

footer{
    min-height: 30vh;
    background: rgb(72, 103, 161);
    color: white;
}